<h3>My Blogs</h3>

    <% @user.each do |blog| %>
       <p><%= blog.title %></p>

        <form action="blogs/<%=blog.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="X"> 
        </form>

        <!--<form action="blogs/<%=blog.id %>" method="POST">
            <input type="hidden" name="_method" value="PATCH">
            <input type="hidden" name="complete" value="true">
            <input type="submit" value="✓"> 
        </form>-->
       <a href="/blogs/<%= blog.id %>/edit">edit blog</a>
        
<% end %>


