<h3>Welcome back, <%= @user.user_name %></h3>

    <% if @user.blogs.blank? %>
        <%= "You do not have any blogs on your list."%><a href='/blogs/new' class="button"><br>Add a Blog!</a>
    <% else %>    
        <p><% @user.blogs.each do |blog| %><p><%= blog.title %></p>
        <form action="/blogs/<%= blog.id %>/delete" method="POST">           
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" value="X"> 
        </form>
    <% end %>
<% end %>

  <a href="/blogs/new">New Blog</a>
        <form action="/logout" method="POST">
        <a href="/logout">Logout</a>
        </form>