     <h3>Create new blog</h3>
                <form  class="" action="/blogs" method="POST">
                    <table style='text-align: left'>  
                        <tr>
                            <td><label for="title">Title: </label></td>
                            <td><input type="text" name="title" placeholder="Title" id="title"></td>
                        </tr>
                        <tr>  
                            <td><label for="location">Location: </label></td>
                            <td><input type="text" name="location" placeholder="Location" id="location"></td>
                        </tr>
                        <tr>
                            <td><label for="description">Description: </label></td>
                            <td><textarea type="text" name="description" placeholder="Write a description" id="description"></textarea></td>
                        </tr>
                        <tr>
                            <td><label for="text">Image </label></td>
                            <td><input type="text" name="image_url" placeholder="url" id="text" value=""></td>
                            <td><input type="submit" name="" value="Submit Blog"></td>
                        </tr>
                    </table>
                </form>

                <p>
                    <% if @message %>
                        <%= @message %>
                    <% end %>
                </p>


      
