

<h2>This is a new blog form</h2>
<p><a href='/blogs'><br>All Blogs</a></p>
<p><%= @message %></p>

<p>
    <form action="/blogs" method="POST">
     <table style='text-align: left'>  
            <tr>
        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="title">
        <br><br>
        <label for="location">Location:</label>
        <input type="text" name="location" placeholder="Location">
        <br><br>
        <label for="description">Description:</label>
        <!--<input type="text" name="description" placeholder="write a description..">-->
        <textarea type="text" name="description" placeholder="write a message"></textarea>
        <br><br>
        <label>Image URL:</label>
        <input type="text" name="image_url" placeholder="url">
        <!--<button type="submit">Add URL</button>-->
        <br><br>
        <input type="submit" value="submit">
    
    </form>

</p>
    