<h3>Add Your Story!</h3>

 <form class="form" action="/blogs" method="POST">
        <table style='text-align: left'>  
             <tr>   
                <td><label class="new" for="text">Image</label></td>
                <td><input class="new" type="text" name="image_url" placeholder="url" id="text" value=""></td>
            </tr>
            <tr>
                <td><label class="new" for="title">Title: </label>
                <td><input class="new" type="text" name="title" placeholder="Title" id="title"></td>
            </tr>
            <tr>  
                <td><label class="new" for="location">Location: </label></td>
                <td><input class="new" type="text" name="location" placeholder="Location" id="location"></td>
            </tr>
            <tr>
                <td><label class="new" for="description">Description: </label></td>
                <td><textarea class="new" type="text" name="description" placeholder="Write a description" id="description"></textarea></td>
            </tr>
            <tr>
                <td><input class="new" type="submit" name="" value="Submit"></td>
            </tr>
        </table>
    </form>
 <br>