
  img {
    max-width: 100%;
    height: auto;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
  }
  
  nav * {
      display: inline;
  }
  
  nav li {
      margin: 20px;
  }
    body {
      padding: 10px;
    }
  
    .welcome {
    font-family: 'Oleo Script', cursive;
  
    } 
  
     h2 {
       color: tomato;
       padding: 10px;
       font-family: 'Open Sans', sans-serif;
     }
  
     h3 {
       color: purple
       padding: 10px;
     }
  
      h4 {
       color: DodgerBlue;
       padding: 10px;
     }
  
     .form {
        
     }

     .yield {
        background-color: #ffffe6;
        position: fixed;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
     
      }
  