

<div class="form-container-login">
 <form action="/login" method="POST">
    <p>Email</p>
        <input class="placeholder" type="text" name="email" id="email" id="email">
    <p>Password</p>
        <input class="placeholder" type="password" name="password" id="password">
        <input button class="submit-button" type="submit" value="login">
        <a href='/signup'><h5>Create Account</h5></a>
</form>
</div>


    