
<div class="form-container-login">
    <form action="/login" method="POST">
        <p>Email</p>
            <input class="placeholder" type="text" name="email" id="email" id="email">
        <p>Password</p>
            <input class="placeholder" type="password" name="password" id="password">
        
            <% if !flash[:error].blank? %>
                <div class="error">
                    <%= flash[:error] %>
                </div>
                <% end %> 

            <% if !flash[:message].blank? %>
                <div class="message">
                    <%= flash[:message] %>
                </div>
            <% end %>
            <input button class="submit-button" type="submit" value="login">
            <div class="signup-link">
            <a href='/signup'>Create Account</a>
            </div>
            
    </form>
    </div>



    