<h2>Login</h2>

<form action="signup" method="POST">
    <label for="email">Email:</label>
    <input type="text" name="email" id="">
    <label for="password">Password:</label>
    <input type="password" name="password" id="">
    <input type="submit" value="Login">
</form>
