
<h3>Please Sign up</h3> 
    <a href='/login'>Login</a> 

<form  class="" class="other" action="/signup" method="POST">
 <table style='text-align: left'>
    <tr>
    <td><label for="user_name">Username:</label></td>
    <td><input type="text" name="user_name" id="user_name" placeholder="username" id="username"></td>
    <tr>
    <td><label for="email">Email:</label></td>
    <td><input type="text" name="email" id="email" placeholder="Write your e-mail.." id="email"></td>
    <tr>
    <td><label for="password">Password:</label></td>
    <td><input type="password" name="password" id="password" placeholder="password" id="password"><td>   
    <td><input type="reset" value="Reset" style="text-align: left"/><td>
    <td><input type="submit" value="sign up"></td>
</form>

  



