

<div class="form-container-signup">
  <form action="/signup" method="POST">
          <p>Username</p>
            <input type="text" name="user_name" id="user_name"  id="username">
          <p>Email</p>
            <input type="text" name="email" id="email" id="email">
          <p>Password</p>
            <input type="password" name="password" id="password">
            <input button class="submit-button" type="submit" value="sign up">
            <div class="login-b">
            <a href='/login'>Login</a> 
            </div>
            
    </form>
</div>

