
 <% if @error %>
        <%= @error %>
    <br><br>
    <% end %> 
    

<form class="other" action="/signup" method="POST">
    <label for="name">Username:</label>
    <input type="text" name="user_name" id="user_name" placeholder="username" >
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" placeholder="Write your e-mail.." >
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" placeholder="password" >
    <input type="submit" value="sign up">
</form>

