<div class="sign-up">
<h3>Sign Up</h3> 
<a class="link" href='/login'>Login</a> 
</div>
 <!--
<form class="form" action="/signup" method="POST">
 <table >
    <tr>
    <td><label class="sign-up" for="user_name">Username:</label></td>
    <td><input class="sign-up" type="text" name="user_name" id="user_name" placeholder="username" id="username"></td>
    <tr>
    <td><label class="sign-up" for="email">Email:</label></td>
    <td><input class="sign-up" type="text" name="email" id="email" placeholder="Write your e-mail.." id="email"></td>
    <tr>
    <td><label class="sign-up" for="password">Password:</label></td>
    <td><input class="sign-up" type="password" name="password" id="password" placeholder="password" id="password"><td>   
    </table>
    <br>
    <td><input class="sign-up" type="reset" value="Reset" style="text-align: left"/><td>
    <td><input class="sign-up" type="submit" value="sign up"></td>
</form>
-->

 <form class="form" action="/login" method="POST">
   <fieldset>
    <label class="sign-up" for="user_name">Username:</label>
    <input class="sign-up" type="text" name="user_name" id="user_name" placeholder="username" id="username">
    <label class="sign-up" for="email">Email:</label>
     <input class="sign-up" type="text" name="email" id="email" placeholder="Write your e-mail.." id="email">
    <label class="sign-up" for="password">Password:</label>
    <input class="sign-up" type="password" name="password" id="password" placeholder="password" id="password">
            <input  class="sign-up" type="reset" value="Reset" style="text-align: left"/> 
            <input class="sign-up" button type="submit" value="sign up">
    </fieldset>
</form>
<br><br>

