<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>Travel Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/main.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <body>
  
        
              <% if current_user %>
                <nav>
                    <div>
                    <h1 class="logo">Travel Blog</h1>
                      <ul>
                        <li><a class="link" href='/blogs/new'>New Blog</a></li>
                        <li><a class="link" href='/blogs'>All Blogs</a></li>
                        <li><a class="link" href='/logout'>Logout</a></li> 
                      </ul>
                    </div>  
                  </nav>
                 
            <% end %>     

            <%= yield %>

            <a href="/" class="logo">Travel Blog</a>
            <img src="imgs/background_img.jpg" class="img" alt="background image">

            <div class="footer">
              <img class="instagram" src="imgs/ig_icon.png" alt="instagram">
              <li class="fab fa-twitter"></li>
              <img class="facebook" src="imgs/fb_icon.png" alt="facebook">
              <img class="youtube" src="imgs/youtube_icon.png" alt="youtube">
             <br><br><br>
             &copy; 2020 Travel Blog. All rights reserved.
            </div>
          </div>
    </body>
</html>

<style> 

body {
  margin: 0px;
  padding: 0px;
  font-family: 'gill sans';
}

.logo {
  color: tomato;
  font-family: Moonbright Demo;
  font-size: 75px;
    text-decoration: none;
  padding: 25px 10px 25px ;
  float: left;
}

.signup-link, login-link{
  color: white;
  font-size: 26px;
  text-align: center;
  padding: 10px;
  margin-right: 25px;
  text-decoration: none; 
}

&::before {
  content: attr(data-item);
  transition: 0.5s;
  color: #8254ff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}
  
.login-signup { 
  position: absolute;
  top: 80px;
  left: 40px;
  font-size: 20px;
  color: blue;
  margin: 40px;
}

.signup, .login {
  float: left;
}

 a.signup-link, login-link {
  color: white;
  text-align: center;
}

.img { 
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.form-container-login,
.form-container-signup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  padding: 80px 40px;
  background: rgba(0,0,0,0.4);
  border-radius: 18px;
}

p {
  margin: 0px;
  padding: 0 0 20px;
  font-size: 26px;
  font-weigth: bold;
  text-align: left;
  color: white;  
}

form input {
  width: 100%;
  margin-bottom: 20px;
  border: none;
   border-bottom: 1px solid #fff;
   background: transparent;
   outline: none;
    height: 25px;
  color: white;
  font-size: 25px;
}

.submit-button {
  height: 40px;
  text-align: center;
  font-size: 25px;
  background: skyblue;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  outline: none;
  margin-top: 20%;
  margin-bottom: 10%;
  color: tomato;
}

h4 {
  padding: 8px 15px 8px 15px;
	border: none;
  border-radius: 4px;
	margin-bottom: 10px;
  color: SlateGray;
  display: inline-block;
}

ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

li {
  display: inline;
  font-family: Georgia;
  font-size: 16px;
}

.new {
  font-family: Georgia;
  font-size: 18px;
  color: SlateGray;
	padding: 8px 15px 8px 15px;
	border: none;
  border-radius: 4px;
	margin-bottom: 10px;
}

.edit {
 font-family: Georgia;
  bottom: 0;
  width: 100%;
  height: auto;
  display:inline-block;
  background-repeat: no-repeat;
  font-family: Georgia;
  text-align: left;
}

.message {
  color: #009933;
  font-family: Georgia;
  font-size: 22px;
}

.error {
  color: #ff3333;
  font-family: Georgia;
  font-size: 22px;
}

.instagram {
  padding: 0px;
  width: 60px;
  text-decoration: none;
}

.instagram:hover {
  color: black;
}

.twitter {
  padding: 0px;
  width: 60px;
  text-decoration: none;
}

.twitter:hover {
  color: black;
}

.facebook {
  padding: 0px;
  width: 60px;
  text-decoration: none;
}

.facebook:hover {
  color: black;
}

.youtube {
  padding: 0px;
  width: 60px;
  text-decoration: none;
}

.youtube:hover {
  color: black;
}

.footer { 
  bottom: 0; 
  margin-top: 30px;
  margin-bottom: 20px;
  color: SlateGray;
  text-align: center;
  width:100%;
  height:100px;
  background-color: white;
}

</style> 

  
