<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>Travel Log</title>
    <link rel="stylesheet" href="public/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>


<style> 

  </style> 

    <body>
    
    <!-- <img src="./public/imgs/trave_banner_img_1.png" alt="Italian Trulli"> -->

      <div class="wrapper">
          <% if flash[:error] %>
              <h3 style="color:red;"><%= flash[:error] %></h3>
          <% end %> 
      </div>

        <div class="wrapper">
          <% if flash[:message] %>
              <h3 style="color:green;"><%= flash[:message] %></h3>
          <% end %> 
        </div>

          <div class="nav">
            <% if current_user %>
                <ul>
                <li><a href='/blogs/new'>Create New Blog</a></li>
                <li><a href='/blogs'>All Blogs</a></li>
                <li><a href='/logout'>Logout</a></li> 
                </ul>
            <% end %>     
     </div>

          <%= yield %>
<br><br>
          <footer class="footer">
            <p id="copyright">&copy; 2020 Travel Log</p>
          </footer>
    </body>
</html>

