<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <title>Travel Log</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
 <style>
  /* 
form {
  width: 100px
}

input {
  width: 100px;
}

textarea {
  resize: both;
  max-height: 100px;
}

input, textarea {
  outline: none;
  border: 1px solid #ddd;
}

input:focus, textarea:focus {
  box-shadow: 0 0 4px rgba(255, 0, 0, 0.5);
  border: 1px solid #ddd;
}
*/
</style> 

  <body>
   
     <div class="wrapper">
        <% if flash[:error] %>
            <h3 style="color:red;"><%= flash[:error] %></h3>
        <% end %> 
      </div>


      <div class="wrapper">
        <% if flash[:message] %>
            <h3 style="color:green;"><%= flash[:message] %></h3>
        <% end %> 
      </div>

        <div class="nav">
          <% if user_logged_in? %>
          <h4>Welcome, <%= @user.user_name.capitalize %></h4> 
             <a href='/blogs'>All blogs</a>
              <a href='/blogs/new'>Create new Blog</a>
              <a href='/logout'>Logout</a> 
          <% end %>
      </div>
      
      <div class="wrapper"></div>

         <%= yield %>

        <footer class="branding">
          <small>&copy; 2020 <strong>TravelLog</strong></small>
        </footer>
      </div>
      
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
      
  </body>
</html>

