<div class="container"></div>
 <h2>Welcome to TravelLog</h2>
    <% if !user_logged_in? %>
            <a href='/login'>Login</a> 
            <a href='/signup'>Signup</a>
    <% end %>
<br><br>

<!--<a href='/login'>Login</a> OR <a href="/signup">Signup</a>
</div> -->